* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0a0a;
  font-family: "Press Start 2P", system-ui;
  font-size: 18px;
}
/*  */
.h1 {
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}
.btn {
  color: #000000;
  font-size: 28px;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
}
/*  */

/* header */
.header-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 18px;
}

.main {
  margin-top: 120px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.question-box {
  background-color: #fff;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.footer {
  margin-top: 150px;
}

.checked-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.rigth-panel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.checked-input {
  width: 250px;
  height: 100px;
  background-color: #0c0a0a;
  border: 3px solid #ffffff;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: "Press Start 2P", system-ui;
}
.checked-input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.checked-input:hover {
  border: 3px solid #ffffff;
}

@media screen and (max-width: 1280px) {
  .checked-container {
    flex-direction: column;
  }
  .header-container {
    flex-direction: column;
    gap: 15px;
  }
  .main {
    margin-top: 30px;
  }
  .footer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
